



<nav class="navbar navbar-expand-lg navbar-info bg-info">
    <a class="navbar-brand" href="">DREAM</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <!-- <a class="nav-item nav-link active" href="/">Home</a> -->


        <ul>
          <li><a class="" href="/">Home</a></li>
          <li><a href="/whoweare" >WHO WE ARE</a>
              <!-- <ul class="name">
                <p style="text-align:center;color:aqua;">ABOUT</p>
                <li><a href="#">Who we are</a></li>
                <li><a href="#">Mission</a></li>
                <li><a href="#">Strategy</a></li>
                <li><a href="#">Funding and donors</a></li> 
              </ul>
              </li> -->
  
              <li><a href="/ourwork" lass="block mt-4 lg:inline-block lg:mt-0 text-sky-500 hover:text-white mr-4">OUR WORK</a>
                <!-- <ul class="name">
                  <p style="text-align:center;color:aqua;">FOCUS AREAS</p>
                  <li><a href="#">Child rights</a></li>
                  <li><a href="#">Early childhood development</a></li>
                  <li><a href="#">Education</a></li>
                  <li><a href="#">Better mental health:#OnMyMind</a></li> 
  
                  <p style="text-align:center;color:aqua;">ABOUT HUNGER</p>
                  <li><a href="#">Ending hunger</a></li>
                  <li><a href="#">Fighting famine</a></li>
                  <li><a href="#">A global food crisis</a></li>
                  <li><a href="#">Conflict and hunger</a></li>
  
                  <p style="text-align:center;color:aqua;">SAVING LIVES</p>
                  <li><a href="#">Emergency relief</a></li>
                  <li><a href="#">Food assistance</a></li>
                  <li><a href="#">Humanitarian support and services</a></li>
                  <li><a href="#">Supply chain</a></li> 
                </ul>
                </li> -->
  
  
  
          <li><a href="#responsive-header" lass="block mt-4 lg:inline-block lg:mt-0 text-sky-500 hover:text-white mr-4">WHERE WE WORK</a>
              <ul class="name">
                <p style="text-align:center;color:aqua;">WHERE WE WORK</p>
                <li><a href="https://www.google.com/maps/">Maps and locations</a></li>
                <p style="text-align:center;color:aqua;">PLACES</p>
                <li><a href="https://www.google.com/maps/place/Dhanbad,+Jharkhand/@23.8020368,86.3642094,12z/data=!3m1!4b1!4m5!3m4!1s0x39f6a30804ccfc6d:0xfa151e1b85f764e7!8m2!3d23.7956531!4d86.4303859">Dhanbad</a></li>
                <li><a href="https://www.google.com/maps/place/Ranchi,+Jharkhand/@23.3431425,85.1812404,11z/data=!3m1!4b1!4m5!3m4!1s0x39f4e104aa5db7dd:0xdc09d49d6899f43e!8m2!3d23.3440997!4d85.309562">Ranchi</a></li>
                
              </ul>
              </li>
              <li><a href="#responsive-header" lass="block mt-4 lg:inline-block lg:mt-0 text-sky-500 hover:text-white mr-4">GET INVOLVED</a>
                  <ul class="name">
                    <p style="text-align:center;color:aqua;">GET INVOLVED</p>
                    <li><a href="#">Work with us</a></li>
                    <li><a href="#">Partner with us</a></li>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Volunteer</a></li> 
  
                    <p style="text-align:center;color:aqua;">INDIVIDUAL SUPPORTERS</p>
                    <li><a href="#">Donate</a></li>
                    <li><a href="#">Support us</a></li>
                    <li><a href="#">ShareTheMeal app</a></li>
                    <li><a href="#"></a></li> 
  
                    <p style="text-align:center;color:aqua;">PARTNERS</p>
                    <li><a href="#">IIT ISM</a></li>
                    <li><a href="#">Kartavya</a></li>
                  </ul>     
                </ul>


        <a class="nav-item nav-link active text-light" href="/centres">Centres</a>
        <a class="nav-item nav-link active text-light" href="/centres/new">New Centres</a>
        <a class="nav-item nav-link active text-light" href="/students">Students</a>
        <!-- <a class="nav-item nav-link disabled" href="#">Disabled</a> -->
      
      <div class="navbar-nav ml-auto">
        <% if(!currentUser) {%>
        <a class="nav-link " href="/login" style="color:red">Login</a>
        <a class="nav-link" href="/register" style="color:red">Register</a>
        <% } else {%>
        <a class="nav-link" href="/logout">Logout</a>
        <% } %>
    </div>

  </div>
    </div>
  </nav>