<% layout('layouts/boilerplate')%>
<div class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
<main class="px-3">
    <h1 class="text-white">Welcome to Dream</h1>
    <p class="lead text-white">
  And as the saying is prevalent in Hindi "Boond bond se ghara bharta hai(water is a pot comprises of drop)", so make this drop a larger pot and then this pot to head<br> towards an ocean. We are independent since 1947 but really are these children free? Freedom for these children is to be free from the bars of poverty & illiteracy. Help<br> Us to provide a better future to them and join hands with us to make them free as we are. This scheme is similar to adopting a child, wherein a sponsor contributes an<br> annual amount of ₹ 7600 for the education expenses of a child for one academic session.
      </p>
      <a class="btn btn-success" target="_blank" href="/students">SPONSER A CHILD</a>

    <p class="lead text-white">
        'We ourseleves feel that what we are doing is just a drop in the ocean but the ocean would be less because of that missing drop.''<br>-Mother Teresa  </p><br>
    <!-- <a href="/" class="btn btn-lg btn-outline-secondary text-white btn-sm"><b>Abcd</b></a> -->
    <br><br>
    <a class="btn btn-success" target="_blank" href="/contact">CONTACT US</a>
</main>
</div>
</div>