<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="test.css">
  <title>Document</title>
</head>

<body style="background-color: rgb(138, 219, 246)">
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <h1 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">

        In a world of plenty, hunger should be a thing of the past

        <br>
        <img src="https://www.wfp.org/sites/default/files/2021-04/SDG2.svg">
      </h1>

      <div class="md:w-3/5 md:pl-6">
        <p>

          Conflict, COVID, the climate crisis and rising costs have combined in 2022 to create jeopardy for up to 828
          million hungry people across the world
        </p>
        <p class="leading-relaxed text-base">n a world of plenty, where enough food is produced to feed everyone on
          the planet, hunger should be a thing of the past. However, conflict, climate change, disasters, inequality
          and – most recently – the COVID-19 pandemic mean one in nine people globally is still going to bed hungry
          and famine looms for millions
          Powered by the passion, dedication and professionalism of almost 21,000 staff worldwide, the World Food
          Programme (WFP) works in over 120 countries and territories to bring life-saving food to people displaced by
          conflict and made destitute by disasters, and help individuals and communities find life-changing solutions
          to the multiple challenges they face in building better futures.
          We work to enhance nutrition in women and children, support smallholder farmers in improving productivity
          and reducing losses, help countries and communities prepare for and cope with climate-related shocks, and
          boost human capital through school feeding programmes
          In conflict situations, we bring relief to exhausted populations and use food assistance to build pathways
          to peace and stability – work for which WFP was awarded the Nobel Peace Prize in 2020.
        </p>
        <!-- <div class="flex md:mt-4 mt-6">
          <button
            class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
          <a class="text-indigo-500 inline-flex items-center ml-4">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div> -->
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <h1 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">

        We are completely reliant on voluntary donations
      </h1>

      <div class="md:w-3/5 md:pl-6">

        <p class="leading-relaxed text-base">
          Feeding millions of the world’s hungriest people and helping millions more cope with the effects of
          conflict, climate change and entrenched poverty requires billions of dollars every year – our funding
          requirement for 2022 stands at US$24 billion to reach 153 million people.
          Our operations are entirely funded through the generous voluntary contributions of donor governments,
          institutions, corporations and individuals. A total 93.5 percent of all government contributions go directly
          to supporting life-saving and life-changing operations.
        </p>
        <!-- <div class="flex md:mt-4 mt-6">
          <button
            class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
          <a class="text-indigo-500 inline-flex items-center ml-4">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div> -->
      </div>
    </div>
  </section>


  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <h1 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5">

        We are working in partnership with others
      </h1>

      <div class="md:w-3/5 md:pl-6">

        <p class="leading-relaxed text-base">
          Feeding millions of the world’s hungriest people and helping millions more cope with the effects of
          conflict, climate change and entrenched poverty requires billions of dollars every year – our funding
          requirement for 2022 stands at US$24 billion to reach 153 million people.
          Our operations are entirely funded through the generous voluntary contributions of donor governments,
          institutions, corporations and individuals. A total 93.5 percent of all government contributions go
          directly to supporting life-saving and life-changing operations.
          <img src="https://www.wfp.org/sites/default/files/inline-images/2021/who-we-are-partnerships.jpg">
        </p>
        <!-- <div class="flex md:mt-4 mt-6">
          <button
            class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
          <a class="text-indigo-500 inline-flex items-center ml-4">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div> -->
      </div>
    </div>
  </section>
  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <h2 class="sm:text-3xl text-2xl text-gray-900 font-medium title-font mb-2 md:w-2/5"> We are committed to
        accountability and transparency</h2>
      <div class="md:w-3/5 md:pl-6">
        <p class="leading-relaxed text-base">
          WFP holds itself and its staff to the highest standards of integrity and behaviour. We are committed to full
          transparency and accountability to the people we serve and to the donors who generously fund our operations.

          We carry out objective and independent audits, as well as investigations and inspections into suspected
          wrongdoing, misconduct and fraud, as well as sexual exploitation or abuse.

          To ensure that we are fit for purpose, and that we remain so in a constantly and rapidly changing
          environment, we carry out periodic independent evaluations that provide donors and partners with greater
          detail about the effectiveness, efficiency, relevance, impact and sustainability of our work, and that help
          us to continue improving.
        </p>
        <!-- <div class="flex md:mt-4 mt-6">
          <button
            class="inline-flex text-white bg-indigo-500 border-0 py-1 px-4 focus:outline-none hover:bg-indigo-600 rounded">Button</button>
          <a class="text-indigo-500 inline-flex items-center ml-4">Learn More
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              class="w-4 h-4 ml-2" viewBox="0 0 24 24">
              <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
          </a>
        </div> -->
      </div>
    </div>
  </section>


</body>