<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
  <link rel="stylesheet" href="test.css">
  <title>Document</title>
</head>
<body style="background-color:lightskyblue">

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h6 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900" >OUR WORK</h6>
        <div class="h-1 w-20 bg-indigo-500 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-gray-500"></p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="http://www.kartavya.org/assests/image/evening.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Evening Tution</h2>
          <p class="leading-relaxed text-base">Illiteracy and Poverty together form a vicious cycle that severly retards the growth of any society. Kartavya helps the people break this cycle by educating them thus forming a strong foundation of Self Confidence, Self-esteem and Self reliability for the penury stricken people. This magnanimous idea triggered volunteers to use their technicality and managerial skills by teaching children in their free time of their College/Organisation. Evening time has always been the most suitable time for providing these children with tutions. However, we also focus at making them imbibe the moral values and their moral obligations thus strengthening them so that they may easily compete with the privileged sections of society.

            WHAT WE DO: Any new student from slum is taught with simple basics of studies and mannerism . Evening tuitions and library are planned accordingly to complete the course of schools. In Library & Tuition, children are taught to learn by themselves by discussing with other students and teacher present at that particular time. We don’t intend to spoon-feed them rather we try to motivate them to study by themselves.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="http://www.kartavya.org/assests/image/extra.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Extra Curricular</h2>
          <p class="leading-relaxed text-base">Extracurricular activities or Extra Academic Activity (EAA) are those that fall outside the realm of the normal curriculum of school or university education, performed by students. Extracurricular activities exist for all students.kartavya provides the same for the growth of the students,our students participate in yoga, karate, swimming, dance, dramatics etc under extra curricular activities.Students from our organisation has represented our NGO in national level karate competition and won prize over there.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="http://www.kartavya.org/assests/image/health.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Health</h2>
          <p class="leading-relaxed text-base">‘”Health is wealth”. If students are healthy they can concentrate on their studies better and give good results. Kartavya keeps record of health of each and every student. For this we guide their parents to take their children to doctors and for their proper medication. Health camps are also organized once in every 2 month with the help of SAIL, CSR, Rotary Club and BCCL in the basti and general medicines are distributed free of cost to everyone. At the same time, if any serious case is found in Basti, our team approaches them to help them get best treatment accordingly.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="http://www.kartavya.org/assests/image/blanket.jpg" alt="content">
          <h3 class="tracking-widest text-indigo-500 text-xs font-medium title-font"></h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Blanket Distribution</h2>
          <p class="leading-relaxed text-base">Hot cup of tea (which they enjoy holding instead of drinking), there are few under-privileged who cannot afford even a blanket and die – without a roof or cloth on their bare bodies – to add one more to the count of deaths in eastern India due to cold wave every year.Blanket Disturbtion is the program in which family of remote areas are provided with blankets at the time of winters. All these blankets are forwarded to the needy people.For Kartavya,it’s not about changing the lives of the people but doing something even more basic than that – making them survive – enabling them to fight their battle of survival against Mother Nature.</p>
        </div>
      </div>
    </div>
  </div>
</section>

</body>